
.botoneta{
    background-color:#FF0000;
    border-color:#FF0000;
    margin-right: 25px;
    text-align:center;
}

.botoneta:hover{
    background-color:black;
}

.eachUser{
    margin-top: 20px;
    margin-bottom: 5px;
}

.createButton{
    width: 200px;
}