
.createButton{
    background-color:black;
    border-color:black;
    width: 200px;
    margin: 10px;
}


.botoneta{
    background-color:#FF0000;
    border-color:#FF0000;
    margin-right: 25px;
    text-align:center;
}

.botoneta:hover{
    background-color:black;
}

.detailsButton{
    background-color:blue;
    border-color:blue;
    margin-right: 25px;
    text-align:center;
}
.editButton{
    background-color:green;
    border-color:green;
    margin-right: 25px;
    text-align:center;
}



.eachUser{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:25px;
}



.postList{
    border: 2px solid;
    border-radius: 25px;
    list-style-type: none;
    padding: 10px;
}