.home{
    background-color: #24262C;
}
.createButton{
    background-color:black;
    border-color:black;
    width: 200px;
    margin: 10px;
}


.botoneta{
    background-color:#24262C;
    border-color:#FF0000;
    margin-right: 25px;
    text-align:center;
    color:red;
}

.botoneta:hover{
    background-color:red;
    color:white;
}

.detailsButton{
    background-color:#24262C;
    border-color:#7099B3;
    margin-right: 25px;
    text-align:center;
    color:#7099B3
}

.detailsButton:hover{
    background-color:#7099B3;
    color:white;
}

.editButton{
    background-color:#24262C;
    border-color:green;
    margin-right: 25px;
    text-align:center;
    color:green;
}

.editButton:hover{
    background-color:green;
    color:white;
}

.eachUser{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:25px;
    color:#E1955A;
}

.eachUser:hover{
    color:white;
}

.postList{
    border: 2px solid;
    border-color: #E1955A;
    list-style-type: none;
    padding: 10px;
    background-color: #585F6D;
    margin: 10px;
    width: 95%;
}

