
body{
    background-color: #24262C;
}


.logTitle{
     margin-top: 100px;
     font-size: 65px;
     text-align: center;
     margin-left: -15px;
     color:white;
}

.formulario{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-top:20px;
}

.exito{
    color:green;
}

.error{
    color:red;
}

.loginButton{
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media (max-width: 414px) {
    
    
    .logTitle{

        margin-top: 75px;
        font-size: 40px;
        text-align: center;
        margin-left: auto;
   }
   
    }